{% extends 'base.html' %}


{% block content %}
    <div>
       <form action="{% url 'register' %}" method="post" id="register_form">
    {% csrf_token %}
        
        <label for="first_name">first_name :</label>
        <input type="text" name="first_name" id="first_name">

        <label for="last_name">last_name:</label>
        <input type="text" name="last_name" id="last_name">

        
        <label for="username">username:</label>
        <input type="text" name="username" id="username">

        
        <label for="email">email:</label>
        <input type="email" name="email" id="email">

        
        <label for="password1">password1:</label>
        <input type="password" name="password1" id="password1">

        
        <label for="password2">password2:</label>
        <input type="password" name="password2" id="password2">

        
        <button  type="submit" name="submit" >Register</button>
    </form>
    </div>
{% endblock content %}